
.shanbay_popover{
	font-family: '微软雅黑';

	padding:5px;
	background-color: #CCE8CF;
}
.shanbay_title{
	padding: 10px 20px;
}
.shanbay_name,
.shanbay_us,
.shanbay_uk{
	display: inline-block;
	padding:5px;
}
.shanbay_definitions{
	font-weight: bold;
	padding:20px 30px;
}