
.shanbay_popover{
	font-family: '微软雅黑';

	padding:5px;
	background-color: #CCE8CF;
}
.shanbay_title{
	height: 25px;
}
.shanbay_name,
.shanbay_us,
.shanbay_uk{
	display: inline-block;
	padding:5px;
}
.shanbay_definiations{
	height: 50px;
}